@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');

:root {
    font-size: 1rem;
}

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 82%;
    margin: 0 auto;
}