
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45vh;
    font-size: 0.75rem;
}

.nav-links {
    display: flex;
    gap: calc(1vw + 2rem);
}

.nav-link:hover{
    color: blue;
}

@media screen and (max-width: 1024px) {
    .nav {
        height: 25vh;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        height: 20vh;
    }
}


